extends layout

block content
  h1= title
  p Список используемых url-ов

  p Таблицы:
  ul
    li
      a(href='/orders/point') Заказы для точки

    li
      a(href='/references/products') Изделия
    li
      a(href='/listdefects/32') Дефекты наряд заказа с id = 32
      
  p Справочники:
  ul
    li
      a(href='/references/clients') Клиенты
    li
      a(href='/references/defects') Дефекты
    li
      a(href='/references/models') Модели
    li
      a(href='/references/packs') Упаковка
    li
      a(href='/references/providers') Производители
    li
      a(href='/references/services') Услуги
    li
      a(href='/references/statuses') Статусы
    li
      a(href='/references/views') Виды техники
  p Дополнительно:
  ul
    li
      a(href='/references/subdivisions') Подразделения
    li
      a(href='/references/activities') Виды деятельности
  p Фильтры:
  ul
    li
      a(href='/filter/subdivisions/not/1') Подразделения без id = 1

    li
      a(href='/filter/product/eq/1') Изделия со статусом принят

