extends layout

block content
  h1= title
  p Список используемых url-ов

  p Таблицы:
  p Справочники:
  ul
    li
      a(href='/references/clients') Клиенты
  p Дополнительно:
  ul
    li
      a(href='/references/subdivisions') Подразделения
    li
      a(href='/references/activities') Виды деятельности

