extends layout

block content
  h1= title
  p Список используемых url-ов

  p Таблицы:
  p Справочники:
  ul
    li
      a(href='/references/clients') Клиенты
    li
      a(href='/references/defects') Дефекты
    li
      a(href='/references/models') Модели
    li
      a(href='/references/packs') Упаковка
    li
      a(href='/references/providers') Производители
    li
      a(href='/references/services') Услуги
    li
      a(href='/references/statuses') Статусы
    li
      a(href='/references/views') Виды техники
  p Дополнительно:
  ul
    li
      a(href='/references/subdivisions') Подразделения
    li
      a(href='/references/activities') Виды деятельности

